<div class='container'>
  <div class='row'>
    <h1 class="px-3 mx-auto">Welcome to <i class="fas fa-book"></i><strong>Bookers</strong>!</h1>
    <div class="slider">
      <%= image_tag "chizu.cake.jpeg" %>
      <%= image_tag "cokki.jpeg" %>
      <%= image_tag "top-image.jpeg" %>
      <%= image_tag "tyoko_cake.jpeg" %>
    </div>
  </div>
</div>